.Pagination {
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: bolder;
}

.List__element {
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    width: 30px;
    height: 30px;
    margin-right: 25px;
}

.List__element:hover {
    cursor: pointer;
}

.List__element--active {
    background-color: red;
    border-radius: 5px;
}

.List__paginator--left {
    margin-right: 35px;
}

.List__paginator--right {
    margin-left: 10px;
}

.List__paginator:hover{
    cursor: pointer;
}
