.Searchbar__button {
    margin-left: auto;
    padding: 18px 32px 19px;
    color: white;
    display: flex;
    align-items: center;
    background-color: #CE0404;
    border-color: #CE0404;
    border-radius: 0 4px 4px 0;
}

.Searchbar {
    margin-right: 100px;
    justify-content: center;
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 4px;
}

.Searchbar__icon {
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.Searchbar__input {
    height: 100%;
    border: none;
    margin-left: 20px;
    margin-right: 16px;
    font-size: 16px;
}

.Searchbar__input:focus {
    border: none;
    outline: none;
}

.Searchbar__cancel {
    margin-right: 16px;
    font-size: 36px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Searchbar__button:hover {
    cursor: pointer;
}
