.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: radial-gradient(76.95% 76.95% at 50% 23.05%, #9F0C0B 0%, #38070E 100%);;
}

.App__header {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
  /*margin-left: 94px;*/
}
